
<nav class="navbar nav-header">
  <ul class="nav justify-content-end">
    <li class="nav-item pointer">
      <img src="/assets/img/user.png" class="avatar rounded-circle img-fluid"  alt="">
    </li>

    <li class="pointer nav-item">
        <a class="nav-link center" style="margin-top: -5px;">
          <div class="center" style="padding-left: 10px;">
            Perfil (Nombre) 
          </div>
          <i class="fa fa-power-off"></i> Cerrar Sesión
        </a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <!-- Menú lateral -->
    <div #Toogle class="lateral-menu">
      <div class="lateral-menu-body mt-20">
        <!-- inicio opciones del menú -->
        <ul class="main-navigation-menu">

          <li [routerLinkActive]="['active']" [class.open]="isOpen('panel-control')">
            <a (click)="openMenuGroup('panel-control')" >
              <div class="row">
                <div class="col-md-2"><i class="fa fa-users"></i></div>
                <div class="col-md-10"><span class="hidden">Perfiles</span></div>
              </div>
            </a>

            <ul class="sub-menu">
              <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/Dashboard/access']" >
                  <div class="row">
                    <div class="col-md-2"><i class="fa fa-google-plus hidden"></i></div>
                    <div class="col-md-10"><span class="hidden">Google +</span></div>
                    <span class="pointer" (click)='toogle()'>Aqui</span>
                  </div>
                </a>
              </li>

            </ul>

          </li>

        </ul>
      </div>
    </div>

    <div #Content class="content-option">
      <div class="md-card">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>