
nav{
    background-color: white;
    height: 10vh;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid gainsboro;
}

.lateral-menu{
    z-index: 20 !important;
    width: 22% !important;
    max-width: 22% !important;
    flex: 0 0 22% !important;
    /*-webkit-box-shadow: 3px 3px 8px 4px rgba(59, 59, 59, 0.17);
    box-shadow: 3px 3px 8px 4px rgba(59, 59, 59, 0.17);*/
    /*padding-top: 20vh;*/
    background-color: white;
    border-right: 1px solid gainsboro;
    height: 90vh!important;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.lateral-menu-mini{
    z-index: 5 !important;
    width: 5% !important;
    max-width: 5% !important;
    flex: 0 0 5% !important;
    background-color: white;
    height: 90vh!important;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border-right: 1px solid gainsboro;

    .hidden{
        display: none;
    }

}

/*Establece el color del cuerpo del menú */
.lateral-menu-body {
    background-color: white;
}

ul.main-navigation-menu{
    padding-left:0px;
    color: gray;
    list-style-type: none;
    height: calc(75vh / 10);/*85vh/10*/
    
    

    div.col-md-10{
        margin: auto;
    }
    /* Establece el color de los icons*/
    i {
        color: #0c4c66;
        font-size: 1.5em;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    span {
        margin-top: 5px;
    }




    li:hover{
        cursor: pointer;
        /*background-color: #3D494F;
        color: white;
        /*padding-left: 10px;*/
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;

        /*i{
            //color: white;
        }
        span{
            //color: white;
        }*/
    }

    ul{
        color: gray;
        padding-top: 0px;
        padding-left: 0px;
        margin-left: 45px;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;



        li:hover{
            background-color: none;
            
            /*padding-left: 10px;*/
            //color: white;
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;

            /*span {
                //color: white;
            }*/
        }
    }
}


.in-line{
    display: inline-block;
    padding-bottom: 5px;
    

}
.active{
    background-color: #0c4c66;
    color: white;
    a{
        color: white;
        text-decoration: none;
        i{
            color: white;
        }
    }
    /*padding-left: 10px;*/
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

li.open ul.sub-menu{
    display: block;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

ul.sub-menu{
    
    clear: both;
    list-style: none;
    //padding: 1px 0;
    padding-top: 0px;
    display: none;
    //margin: 0;
    span{
        margin-left: 5px;
    }

    li{
        margin-left: -15px;
    }
    
        
    
}

li.open {
    // background: #253136!important;    
}

/* resto de pantalla */
.content-option{
    width: 78%!important; /*78*/
    max-width: 78%!important;
    flex: 0 0 78%!important;
    height: 100%!important;
    padding: 0px!important;
    background-color: yellowgreen;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    


}
.content-option-full{
    width: 95%!important; /*78*/
    max-width: 95%!important;
    flex: 0 0 95%!important;
    height: 100%!important;
    padding: 0px!important;
    background-color: yellowgreen;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.md-card{
    height: 90vh;/*91 84*/
    background-color: #f7f7f7;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;

    -webkit-box-shadow: inset 10px 10px 10px -5px rgba(0,0,0,0.09);
    -moz-box-shadow: inset 10px 10px 10px -5px rgba(0,0,0,0.09);
    box-shadow: inset 10px 10px 10px -5px rgba(0,0,0,0.09);
}