h1, h3, span{
    color:  #0c4c66;;
}
span{
    display: block;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.list-network{
    height: 226px;
    max-height: 226px;
    overflow-y: scroll;
    ul{
        li{
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}