<img *ngIf='step_icon == "Googleplus"' class="img-fluid" src="/assets/img/Gplus.png" width="300" height="300" style="position:absolute" alt="">
<!-- Google plus -->
<div *ngIf='step == "g-1"'>
  <div class="row mt-100">
    <div class="col-md-8  offset-md-4">
      <h1>AÑADIR PÁGINA DE GOOGLE+</h1>
      <!--<div id="googleBtn">Google Sign-In</div>-->
    </div>    
  </div>

  <div class="row mt-100">
    <div class="col-md-8  offset-md-4">
      <span>Conéctate con tu página de Google+</span>
      <span>Puedes agregar páginas adicionales más tarde</span>
    </div>
  </div>

  <div class="row mt-100 justify-content-center">
    <div class="col-md-3">
      <button (click)='nextStep("g-2")'  id='googleBtn' type="button" class="btn btn-1 col-md-12">Conectar con Google+</button>
    </div>
    <div class="col-md-3">
        <button (click)='nextStep("g-2")' type="button" class="btn btn-secondary col-md-12">Ahora no</button>
    </div>
  </div>
</div>
<!-- step 2 google plus -->
<div *ngIf='step == "g-2"' style="position:relative">
  <div class="row mt-100">
    <div class="col-md-8  offset-md-4">
      <h3>PÁGINAS DISPONIBLES</h3>
    </div>    
  </div>

  <div class="row mt-20">
    <div class="col-md-8  offset-md-4">
      <span>Selecciona las páginas disponibles en Google+ que deseas gestionar</span>
      <span>Tendrás la opción de añadir más páginas en el fúturo.</span>
    </div>
  </div>

  <div class="row mt-50">
    <div class="col-md-6 offset-md-4">
      <div class="card">
        <ul class="list-group list-group-flush">

          <li *ngFor='let item of [1, 2, 3]; let i = index' class="list-group-item">
            <div class="col-md-3">
                <img src="/assets/img/user.png" class="img-fluid avatar rounded-circle" alt="">
            </div>
            <div class="col-md-7">
              <span>Página {{i+1}}</span>
              <span>Página de Google+</span>
            </div>
            <div class="col-md-2">
              <div class="form-check center">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                </label>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mt-50 pb-10">
    <div class="col-md-3 offset-md-4">
      <button id='googleBtn' type="button" class="btn btn-1 col-md-12">Conectar</button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-secondary col-md-12">Ahora no</button>
    </div>
  </div>
</div>